body {
    height: 100vh;
    width: 100 vw;

    margin: 0;
    padding: 0;

    background-color: aquamarine;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

/* CONTROL */

.bg-tv {
    height: 100vh;
    width: 70vw;

    background-color: orange;
}

.bg-control {
    height: 100vh;
    width: 30vw;

    background-color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;
}

#body-control {
    height: 32em;
    width: 12em;

    background: linear-gradient(to bottom left, rgba(91, 91, 91, 0.986), black);

    border-radius: 1.5em;
}
/* 
IR-SECTION */

#section-one {
    height: 1.5em;
    width: 12em;
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#ir-section {
    height: 1.5em;
    width: 7.5em;
    background-color: rgb(36, 36, 36);

    border-radius: 0 0 1em 1em;
}

/* TURN-ON-BUTTON-CIRCLE */
#section-two {
    height: 3.3em;
    width: 12em;
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#turn-button-section {
    height: 2.2em;
    width: 2.2em;
    background-color: gray;

    border-radius: 50%;
    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.176);
}

#section-three {
    height: 8em;
    width: 12em;

    /* background-color: rgb(82, 146, 108); */

    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-circle-section {
    height: 7em;
    width: 7em;
    background-color: gray;
    border-radius: 50%;
    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.176);

    display: flex;
    flex-direction: row;
}

#bg-circle-section-one {
    height: 7em;
    width: 2em;

    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#button-left-circle-section {
    height: 6em;
    width: 2em;

    border-radius: 15em 0 0 15em;

    color: white;

    /* background-color: black; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-circle-section-two {
    height: 7em;
    width: 3em;

    /* background-color: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#bg-top-circle-section {
    height: 2em;
    width: 2em;

    border-radius: 50%;

    color: white;

    /* background-color: black; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-middle-circle-section {
    height: 3em;
    width: 3em;

    border-radius: 50%;

    color: white;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-bottom-circle-section {
    height: 2em;
    width: 2em;

    border-radius: 50%;

    color: white;

    /* background-color: black; */

    display: flex;
    justify-content: center;
    align-items: center;
}


#bg-circle-section-three {
    height: 7em;
    width: 2em;

    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-rigth-circle-section {
    height: 6em;
    width: 2em;

    border-radius: 0 15em 15em 0;

    color: white;

    /* background-color: black; */

    display: flex;
    justify-content: center;
    align-items: center;
}

